[flake8]

# 启用的规则
select =
    E201,	# 左括号后多余空格
    E202,	# 右括号前多余空格
    E225,	# 运算符缺少空格
    E231,	# 缺少逗号后空格
    E301,	# 缺少空行
    E302,	# 函数/类前空行不足
    E303,	# 空行过多
    E305,	# 定义后缺少空行
    E501,   # 行长度超过 max-line-length

    W391,   # 文件末尾存在多余空行

    N801,   # 类名不是 CamelCase
    N802,   # 函数名不是 snake_case
    N803,   # 参数名不是 snake_case
    N806,   # 变量名不是 snake_case
    N812    # 常量名非全大写

# 行长度
max-line-length=79

# 兼容 slicing
extend-ignore = E203

# 排除目录
exclude =
    venv,
    build,
    .git,
    __pycache__,
