[MASTER]

disable=all

[MESSAGES CONTROL]

enable=
    # 过长函数/方法 R0915
    too-many-statements,
    # 大类 R0902 R0904
    too-many-instance-attributes,
    too-many-public-methods,
    # 参数过多 R0913
    too-many-arguments,
    # 过多分支 R0912
    too-many-branches,
    # 深层嵌套 R1702
    too-many-nested-blocks,

    # 未使用赋值（参数） W0613
    unused-argument

[DESIGN]

# 函数/方法的最大语句数
# Maximum number of statements in function / method body.
max-statements=50

# 类的最大实例属性数
# Maximum number of attributes for a class (see R0902).
max-attributes=10

# 类的最大方法数
# Maximum number of public methods for a class (see R0904).
max-public-methods=20

# 函数/方法的最大参数数
# Maximum number of arguments for function / method.
max-args=5

# 函数/方法的最大分支数
# Maximum number of branch for function / method body.
max-branches=6

# 最大嵌套块深度
# Maximum number of nested blocks for function / method body
max-nested-blocks=3
